*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

.header {
  padding: 20px;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: gray;
  color: #ffffff;
  height:auto;
  border: black;
  border-style: solid;
}

.header h1 {
  display: inline-block;
  font-size: 40px;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header nav ul{
  list-style-type: none;
}

.header nav ul li {
  display: inline-block; 
  margin-left: 25px;
}
/* header info above, inline block with info*/
a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

ul li a:hover{
  color: turquoise;
}
/*adds color on hover*/

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 100%;
  display: inline-block;
}

.AboutMe {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  display:inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  border: black;
  border-style: solid;
}
/*main content block with border*/

.MyWork {
  margin-bottom: 10px;
  padding: 10px;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  display:flex;
  border: black;
  border-style: solid;
}
/*main content block with border*/

.AboutMe img {
  max-height: 600px;
  position: relative;
  display: inline-block;
  max-width: 25%;
  height:auto;
}
/*my img info*/

.MyWork img {
  height: 200px;
  width: 200px;
  position:relative;
  border-style: solid;
  border-width: 3px;
}
/*placeholder img info*/

.MyWorkhero img{
  height: 200px;
  width: 500px;
  object-fit: cover;
  object-position: 50%;
  position:relative;
  border-style: solid;
  border-width: 3px;
}
/*first project img info*/

.MyWork h2{
  display:block;
  padding: 20px;
}
/*h2 block info*/

.MyWork nav li{
  display:inline-block;
  padding: 20px;
  list-style-type: none;
}

.MyWork nav ul li div{
  position: relative;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
}
/*image descriptions tag*/


.footer {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: gray;
  color: #ffffff;
  border: black;
  border-style: solid;
}

.footer h2 {
  display: inline-block;
  font-size: 30px;
}

.footer nav {
  margin-right: 25px;
  float: right;
  padding: 10px;
}

.footer nav ul{
  list-style-type: none;
}

.footer nav ul li {
  display: inline-block;
  margin-left: 25px;
}

@media screen and (max-width: 992px) {
  .content {
    width: 100%;
    height:100%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    height:100;
    font-size: 12px;
  }
}
/*varying screen size tags*/